@model GroupViewModel
@{
    ViewData["Title"] = "Group Detail Page";
}

<input id="groupStatusId" class="hidden" value="@Model.GroupDetail.Id"/>

<nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="/Group/Index" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Group
      </a>
    </li>
    <li aria-current="page">
      <div class="flex items-center">
        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2">@Model.GroupDetail.GroupName</span>
      </div>
    </li>
  </ol>
</nav>

<div class="flex flex-row justify-center my-5">
    <div class="flex-col px-5 w-full">
        <div class="flex justify-between items-center mb-5">
            <div class="flex">
                <p class="text-2xl font-bold">Members</p>
            </div>
        </div>
        @if(@Model.GroupMembers != null) {
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-center text-gray-500">
                    <thead class="text-xs text-gray-900 uppercase">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                #
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Username
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Email
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Role
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var member in Model.GroupMembers) {
                            <tr class="bg-white">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    @if (member.Role != "GroupAdmin") {
                                        <button type="button" class="text-white bg-gray-700 hover:bg-red-800 rounded-full text-xs px-1.5 py-0.5 text-center" onclick="removeGroupMember(@member.Id)">
                                            delete
                                        </button>
                                    }                                    
                                </th>
                                <td class="px-6 py-4">
                                    @member.Username
                                </td>
                                <td class="px-6 py-4">
                                    @member.Email
                                </td>
                                <td class="px-6 py-4">
                                    @member.Role
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        
    </div>
    <div class="flex-col px-5 w-full">
        <div class="flex justify-between items-center mb-3">
            <div class="flex">
                <p class="text-2xl font-bold">Statuses</p>
            </div>
            <!-- Modal toggle -->
            <button data-modal-target="crud-status-modal" data-modal-toggle="crud-status-modal" class="flex text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
                <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                Status
            </button>
        </div>
        <div class="relative overflow-x-auto">
            @if(Model.Statuses != null && Model.Statuses.Count != 0) {
                <table class="w-full text-sm text-center text-gray-500">
                    <thead class="text-xs text-gray-900 uppercase">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Status Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var status in Model.Statuses) {
                            <tr class="bg-white">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    <span id="edit_span_@status.Id">@status.Status</span>
                                    <input type="text" class="hidden w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500" value="@status.Status" id="edit_input_@status.Id" />
                                </th>
                                <td class="px-6 py-4">   
                                    <div id="button_group_@status.Id" class="inline-flex rounded-md shadow-xs" role="group">
                                        <button type="button" onclick="openEditInput(@status.Id)" class="inline-flex items-center px-3 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">
                                            Edit
                                        </button>
                                        <button type="button" data-modal-target="popup-@status.Id-modal" data-modal-toggle="popup-@status.Id-modal" class="inline-flex items-center px-3 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">
                                            Delete
                                        </button>
                                    </div>
                                    <div id="edit_group_@status.Id" class="hidden">
                                        <button class="px-2 py-1 rounded-xl bg-green-600 text-white ml-1 font-bold" id="edit_save_@status.Id" onclick="updateStatus(@status.Id)">Save</button>
                                        <button class="text-gray-900 ml-1 font-bold" onclick="closeEditInput(@status.Id)">x</button>
                                    </div>
                                </td>
                            </tr>
                            <div id="popup-@status.Id-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                <div class="relative p-4 w-full max-w-md max-h-full">
                                    <div class="relative bg-white rounded-lg shadow-sm">
                                        <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="popup-@status.Id-modal">
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                            </svg>
                                            <span class="sr-only">Close modal</span>
                                        </button>
                                        <div class="p-4 md:p-5 text-center">
                                            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                            </svg>
                                            <h3 class="mb-5 text-lg font-normal text-gray-500">Are you sure you want to delete this status?</h3>
                                            <button data-modal-hide="popup-@status.Id-modal" type="button" onclick="deleteStatus(@status.Id)" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                                                Yes, I'm sure
                                            </button>
                                            <button data-modal-hide="popup-@status.Id-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100">No, cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            } else {
                <div class="flex items-center p-4 mb-4 text-sm text-gray-900 rounded-lg bg-gray-200" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div>
                        There is no statuses for this group.
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="flex-col px-5 my-10 w-full">
        <div class="flex justify-between items-center mb-5">
            <div class="flex">
                <p class="text-2xl font-bold">Pending Approval Requests</p>
            </div>
        </div>
        @if(@Model.UserRequests != null && @Model.UserRequests.Count != 0) {
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-center text-gray-500">
                    <thead class="text-xs text-gray-900 uppercase">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Username
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Message
                            </th>
                            <th scope="col" class="px-6 py-3">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var request in Model.UserRequests) {
                            <tr class="bg-white">
                                <td class="px-6 py-4">
                                    @request.Username
                                </td>
                                <td class="px-6 py-4">
                                    @request.Message
                                </td>
                                <td class="px-6 py-4 justify-end">
                                    <button onclick="acceptGroupMember(@request.UserId, @request.GroupId)" class="px-2 py-1 cursor-pointer rounded-xl bg-green-600 hover:bg-green-800 text-white ml-1 font-bold">Accept</button>
                                    <button onclick="declineGroupMember(@request.UserId, @request.GroupId)" class="px-2 py-1 cursor-pointer rounded-xl bg-red-600 hover:bg-red-800 text-white ml-1 font-bold">Decline</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        } else {
            <div class="flex items-center p-4 mb-4 text-sm text-gray-900 rounded-lg bg-gray-200" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    There is no waiting approval for this group.
                </div>
            </div>
        }
        
    </div>








<!-- Main modal -->
<div id="crud-status-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200">
                <h3 class="text-lg font-semibold text-gray-900">
                    Create New Status
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-toggle="crud-status-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form id="createStatusForm" class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <input type="text" name="statusName" id="statusName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Status Name" required="">
                    </div>                    
                </div>
                <button id="createStatusButton" type="submit" class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                    Add
                </button>
            </form>
        </div>
    </div>
</div> 

@section Scripts {
    <script src="~/js/detail.js"></script>
}





